/* Обращения бывают след типов:
1) + теги p
2) + классы .
3) + ID #
4) + атрибуты [] */



/* Базовые настройки страницы */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* Конец базовых настроек*/



/* Универсальные стили */


    /*  , - означает подолнительное обращение к тому или иному элементу
        Это перечисление подключения новых классов */
    .left, .ul_li li, .middle{
        float: left;
        /* float - это обтекаание, то есть - выравнивание. В данном случае в левую сторону */
    }

    .right{
        float: right;
    }

    .ul_li{
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    .ul_li li{
        padding: 10px 15px;
    }

    .container{
        width: 1200px;
        margin: 0 auto;
    }
    /* margin - это внешний отступ
            Так же margin - это выравнивание
                margin: 0 auto - это 0 отступов со всех сторон и это значит, выравнять по центру */


/* Конец универсальных стилей */



/* Стили для страницы */

    /* Урок 14 */
        .verhnee_menu{
            background: #f7f7f7;
            display: inline-block;
            width: 100%;
        }

        .middle{
            background: white;
            display: inline-block;
            width: 100%;
            
        }

        .sunday{
            color: #b9b9b9;
        }

        .closed{
            color: #dd768c;
        }

        .off{
            color: yellow;
        }

        .numbers_call{
            color: #a3d9ee;
        }

/* Конец стилей для страницы */